.version.index /* version checker */
{
	color: #00000B;
	background-color: #84862B;
}

.html
{
	background: #FFFFFF url("../images/csgoscam.jpg") no-repeat left top scroll;
	background-size: cover;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 500px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 474px;
	padding-bottom: 62px;
	width: 0.01px;
}

#u100-4
{
	z-index: 2;
	width: 644px;
	min-height: 123px;
	background-color: transparent;
	font-size: 72px;
	color: #1846FF;
	line-height: 86px;
	margin-left: 406px;
	position: relative;
}

#u100
{
	font-size: 72px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

